<launch>
    <!-- Camera -->
    <!--include file="$(find hiwonder_peripherals)/launch/depth_cam.launch"/-->

    <!-- YOLOv4-tiny sign detector -->
    <node pkg="sign_detection" name="yolov4_sign_detector" type="yolov4_detector.py" output="screen">
        <param name="onnx"         value="$(find sign_detection)/weights/yolov4_tiny_best.onnx"/>
        <param name="names"        value="$(find sign_detection)/weights/obj.names"/>
        <param name="confidence"   value="0.4"/>
        <param name="nms_thresh"   value="0.5"/>
        <param name="image_topic"  value="/robot_1/depth_cam/rgb/image_raw"/>
    </node>
</launch>
